{
    "programLanguage": "English",
    "openURLautomatically": true,
    "copyURLtoClipboard": false,
    "keyboardShortcuts": [
        {
            "importNewPlaylist": "Shift+I",
            "exportPlaylist": "Shift+E",
            "clearPlaylist": "Shift+C",
            "generatePlaylist": "Shift+G"
        }
    ]
}