{
    "programLanguage": "English",
    "openURLautomatically": true,
    "copyURLtoClipboard": false,
    "keyboardShortcuts": [
        {
            "importNewPlaylist": "Cmd+I",
            "exportPlaylist": "Cmd+E",
            "clearPlaylist": "Alt+R",
            "generatePlaylist": "Cmd+G",
            "shufflePlaylist": "Alt+S"
        }
    ]
}